{% extends 'manager/layout/base.html' %}
{% block content %}
<!-- Table -->
<div class="container mt-5 pt-5">
    <div>
        <a href="/manager/add/cuisine/{{restaurant_id[0]}}" type="button" class="btn btn-success mb-3">
            Thêm món ăn
        </a>
    </div>
    <table class="table table-bordered order-table text-center align-middle">
        <thead>
        <tr>
            <th>Mã món</th>
            <th>Tên món</th>
            <th>Hình ảnh</th>
            <th>Giá tiền</th>
            <th>Số lượng còn lại</th>
            <th>Xử lý</th>
        </tr>
        </thead>
        <tbody>
        {% if cuisines %}
            {% for cuisine in cuisines %}
            <tr id="row_{{ cuisine.cuisine_id }}">
                <td>{{ cuisine.cuisine_id }}</td>
                <td>{{ cuisine.cuisine_name }}</td>
                <td>
                    <img src="{{ cuisine.image }}" style="width: 80px; height: 80px"/>
                </td>
                <td>{{ "{:,.0f}".format(cuisine.price) }} VND</td>
                <td id="cuisine_count_{{ cuisine.cuisine_id }}">{{ cuisine.count }}</td>
                <td style="width: 350px">
                    <button type="button" class="btn btn-primary me-3"
                            onclick="openQuantityModal({{ cuisine.cuisine_id }})">
                        Cập nhật số lượng
                    </button>
                    <button type="button" class="btn btn-danger me-3"
                            onclick="cuisineRemove({{ cuisine.cuisine_id }})">
                        Xóa món ăn
                    </button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>

    <div class="text-end">
        <a href="/manager/packages" class="btn btn-info mb-3">
            Kiểm tra gói hiện tại
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="quantityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quantityModalLabel">Chỉnh sửa số lượng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <label for="quantityInput">Số lượng:</label>
                <input type="number" id="quantityInput" class="form-control" min="1" value="1">
            </div>
            <div class="modal-footer">
                <button onclick="confirm_update()" type="button" id="confirmQuantityBtn" class="btn btn-primary">Xác
                    nhận
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}